<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div>
  <div>
  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
         <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/about">About us<span class="sr-only">(current)</span></a></li>
        <li><a href="/contact">Contact us</a></li>
      </ul>
</nav>
</div>
  <br/>
  <div class="jumbotron" style="padding-left:130px;padding-right:130px;">
  <p style="text-align:center">
    John & Diane Belak, the owners of Starr Automotive treat every customer like family.  For 20+ years they have provided quality service at the best prices in NE Ohio.  Stop by today for your free estimate, or just to say hello.
  </p>
  <h2>Eastside Location</h2>
<img src="http://www.theautoshop.biz/img/the-auto-shop-building.png" alt="Starr Auto" style="width:608px;height:456px; vertical-align:middle;">
</div>
  </div>
</body>
</html>
