<html>
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div>
      <div>
        <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
          <ul class="nav navbar-nav">
            <li><a href="/">Eastside</a></li>
            <li><a href="/westside">Westside</a></li>
            <li><a href="/about">About us</a></li>
            <li class="active"><a href="/contact">Contact us<span class="sr-only">(current)</span></a></li>
          </ul>
        </nav>
      </div>
      <br/>
      <div class='container-fluid>'
        <div class='row'>
          <div class='col-md-6'>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2991.171142567378!2d-81.52571021856187!3d41.435508007224605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8830e2a5ac0525b9%3A0x51b5da7ccde1ebbd!2sStarr+Automotive+%26+Brake!5e0!3m2!1sen!2sus!4v1495386383261" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="name" name="name" placeholder="First & Last Name" value="">
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
                </div>
              </div>
              <div class="form-group">
                <label for="phone" class="col-sm-2 control-label">Phone Number:</label>
                <div class="col-sm-10">
                  <input type="phone" class="form-control" id="phone" name="phone" placeholder="216-475-3540" value="">
                </div>
              </div>
              <div class="form-group">
                <label for="message" class="col-sm-2 control-label">Describe your auto issues:</label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="2"     name="message"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="human" class="col-sm-2 control-label">2 + 3 = ?</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="human" name="human" placeholder="Your Answer">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                  <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                  <! Will be used to display an alert to the user>
                </div>
              </div>
            </form>
          </div>
          <div class='col-md-6'>
            <img src="http://localhost:3000/images/IMG_4586.jpg.jpeg" alt="Starr Auto" class='img-responsive'>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
