<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Single page web app</title>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="script.js"></script>
</head>
<body>
<div>
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <ul class="nav navbar-nav">
      <li class="active"><a href="/">Eastside<span class="sr-only">(current)</span></a></li>
      <li><a href="/about">Westside</a></li>
      <li><a href="/about">About us</a></li>
      <li><a href="/contact">Contact us</a></li>
    </ul>
</nav>
</div>
<br/>

<div class="jumbotron" style="padding-left:130px;padding-right:130px;">
    <p style="text-align:center">Starr Automotive: The best auto repair shop on the Eastside has opened a new location on the Westside.</p>
    <img src="http://www.theautoshop.biz/img/the-auto-shop-building.png" alt="Starr Auto" style="width:608px;height:456px;" class='center-block img-responsive'>
</div>
</div>
</body>
</html>
